head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')

table(role='presentation', style='width: 100%; border-collapse: collapse; border: 0px; border-spacing: 0px; font-family: Arial, Helvetica, sans-serif; background-color: rgb(243, 243, 243);')
  tbody
    tr
      td(align='center', style='padding: 1rem 2rem; vertical-align: top; width: 100%;')
        table(role='presentation', style='max-width: 600px; border-collapse: collapse; border: 0px; border-spacing: 0px; text-align: left;')
          tbody
            tr
              td(style='padding: 40px 0px 0px;')
                div(style='text-align: left;')
                  div(style='padding-bottom: 20px;')
                    img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Globe_icon_2.svg/800px-Globe_icon_2.svg.png', alt='Verbly', style='width: 45px;')
                div(style='padding: 20px; background-color: rgb(255, 255, 255);')
                  div(style='color: rgb(0, 0, 0); text-align: left;')
                    h1(style='margin: 1rem 0') Reset Your Password
                    p(style='padding-bottom: 16px') Hi!
                    p(style='padding-bottom: 16px')
                      | We&apos;re sending this email because you requested a password reset. Click on this link to
                      | create a new password:
                    p(style='padding-bottom: 16px')
                      a(href=`${resetLink}`, target='_blank', style='padding: 12px 24px; text-decoration: none; border-radius: 10px; color: #FFF; background: #5096FF;display: inline-block;margin: 0.5rem 0;')
                        | Reset
                        | your password
                    p(style='padding-bottom: 16px') If you didn&apos;t ask to reset your password, you can ignore this email.
                    p(style='padding-bottom: 16px')
                      | Thanks,
                      br
                      | The Verbly team
                div(style='padding-top: 20px; color: rgb(153, 153, 153); text-align: center;')
